mixin contact-form(data)
  section.contact
    .container
      .row
        .col-12.col-md-8.offset-md-2.col-xl-6.offset-xl-3
          h2.text-center= data.form.title
          form(name="contact" action=data.form.action netlify-honeypot="last-name" netlify)

            each field in data.form.fields
              div(class=field.class)
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  if field.isTextarea == true
                    textarea.mdl-textfield__input(id=field.name, rows=field.rows, name=field.name, required=field.required)
                  else
                    input.mdl-textfield__input(type=field.type, name=field.name, id=field.name, required=field.required)

                  label.mdl-textfield__label(for=field.name)= field.title

            div.text-center.mt-2
              button.btn.btn-primary.btn-lg.btn-uppercase= data.form.submit.copy
