mixin products(data)
  section.section.section--alpha.section--light.text-center.section--b-0
    .container.products
      .row
        .col-sm-12
          header.section__header
            h1.section__title= data.title
            p.section__subtitle= data.subtitle


      .row
        each item in data.list
          if item.featured
            article.col-12.col-md-6.products__article.products__article--featured
              a(href=item.url + '.html').products__item
                +responsive-img(item.url)(class='img--full')
                .products__details
                  div
                    h1.products__title= item.title
                    h3.products__style= item.style
                    div.products__abv= item.abv + locals.translations.abv


        .col-12.col-md-6
          .row
            each item, index in data.list
              if !item.featured && !item.isPlaceholder && index < 5
                article.col-6.products__article
                  a(href=item.url + '.html').products__item
                    +responsive-img(item.url)(class='img--full')
                    .products__details
                      div
                        h1.products__title= item.title
                        h3.products__style= item.style
                        div.products__abv= item.abv + locals.translations.abv

      .row
        each item, index in data.list
          if !item.featured && !item.isPlaceholder && index > 4
            article.col-6.col-md-3.products__article
              a(href=item.url + '.html').products__item
                +responsive-img(item.url)(class='img--full')
                .products__details
                  div
                    h1.products__title= item.title
                    h3.products__style= item.style
                    div.products__abv= item.abv + locals.translations.abv

        each item in data.list
          if item.isPlaceholder
            article.col-6.col-md-3.products__article
              .products__item.products__item__placeholder
                h1.products__title.products__item__placeholder__title= item.title
