mixin product(data)

  section.section.text-center.section--colored.js-colored(style='background-color:' + locals.currentBeer.bg, data-bg=locals.currentBeer.bg)

    article.container.product__container
      .row.hidden-md-up
        .col-12
          header.product__header
            if data.title
              h1.product__title= data.title

            if data.subtitle
              h2.product__subtitle= data.subtitle

            if data.style
              p.product__style= data.style


      .row
        .col-12.col-md-6.col-lg-6.col-xxl-4.offset-xxl-2
          +responsive-background('beers/' + data.url, data.transparentImg ? 'png' : 'jpg')(class='product__image')

        .product.col-12.col-md-6.col-lg-6.col-xxl-4
          header.product__header.hidden-sm-down
            if data.title
              h1.product__title= data.title

            if data.subtitle
              h2.product__subtitle= data.subtitle

            if data.style
              p.product__style= data.style

          ul.product__descriptors
            if data.abv
              li
                span.product__descriptors__attribute= data.abv
                span.product__descriptors__definition= locals.translations.abv
            if data.og
              li
                span.product__descriptors__attribute= data.og
                span.product__descriptors__definition= locals.translations.og
            if data.fg
              li
                span.product__descriptors__attribute= data.fg
                span.product__descriptors__definition= locals.translations.fg

          if data.ingredients
            .product__ingredients
              section.product__ingredisnts__section
                h3.product__ingredients__subtitle= locals.translations.ingredients
                ul.products__ingredients__list
                  each item in data.ingredients
                    li= item

          if data.description
            .product__description.text-left
              each item in data.description
                p= item

          if !data.hideBuy
            a.btn.btn-primary.btn-lg.btn-uppercase.btn-block.mt-3(
              href=locals.products.cta.href,
              class=data.available ? '' : 'disabled'
            )
              if data.available
                span= locals.products.cta.copy
              else if data.soon
                span= locals.translations.comingSoon
              else
                span= locals.products.unavailable

