mixin product(data)

  section.section.text-center(style='background:' + locals.currentBeer.bg)

    article.container.product__container
      .row.hidden-md-up
        .col-12
          header.product__header
            h1.product__title= data.title
            p.product__style= data.style

      .row
        .col-12.col-md-6.col-lg-6.col-xxl-4.offset-xxl-2
          +responsive-background('beers/' + data.url)(class='product__image')

        .product.col-12.col-md-6.col-lg-6.col-xxl-4
          header.product__header.hidden-sm-down
            h1.product__title= data.title
            p.product__style= data.style

          ul.product__descriptors
            if data.abv
              li
                span.product__descriptors__attribute= data.abv
                span.product__descriptors__definition= locals.translations.abv
            if data.og
              li
                span.product__descriptors__attribute= data.og
                span.product__descriptors__definition= locals.translations.og
            if data.fg
              li
                span.product__descriptors__attribute= data.fg
                span.product__descriptors__definition= locals.translations.fg

          if data.description
            .product__description.text-left
              each item in data.description
                p= item

          if data.available
            a.btn.btn-primary.btn-lg.btn-uppercase.btn-block.mt-3(href=locals.products.cta.href)= locals.products.cta.copy