mixin products(data)
  section.section.section--alpha.section--light.text-center.section--b-0
    .container.products
      .row
        .col-sm-12
          header.section__header
            h1.section__title= data.title
            p.section__subtitle= data.subtitle

      .row
        each item in data.list
          if item.featured
            article.col-12.col-md-6.products__article.products__article--featured
              a(href= 'beers/' + item.url + '.html').products__item
                div(style='background: ' + item.bg)
                  +responsive-background('beers/' + item.url)(class='products__image')
                if item.new
                  span.products__new= locals.translations.new
                if item.soon
                  span.products__soon= locals.translations.soon
                .products__details
                  .products__details__wrapper
                    h2.products__title= item.title
                    h3.products__style= item.style
                    div.products__abv= item.abv + locals.translations.abv


        .col-12.col-md-6
          .row
            each item, index in data.list
              if !item.featured && !item.isPlaceholder && index < 5
                article.col-6.products__article
                  a(href= 'beers/' + item.url + '.html').products__item
                    div(style='background: ' + item.bg)
                      +responsive-background('beers/' + item.url)(class='products__image')
                    if item.new
                      span.products__new= locals.translations.new
                    if item.soon
                      span.products__soon= locals.translations.soon
                    .products__details
                      .products__details__wrapper
                        h2.products__title= item.title
                        h3.products__style= item.style
                        div.products__abv= item.abv + locals.translations.abv

      .row
        each item, index in data.list
          if !item.featured && !item.isPlaceholder && index > 4
            article.col-6.col-md-3.products__article
              a(href= 'beers/' + item.url + '.html').products__item
                div(style='background: ' + item.bg)
                  +responsive-background('beers/' + item.url)(class='products__image')
                if item.new
                  span.products__new= locals.translations.new
                if item.soon
                  span.products__soon= locals.translations.soon
                .products__details
                  .products__details__wrapper
                    h2.products__title= item.title
                    h3.products__style= item.style
                    div.products__abv= item.abv + locals.translations.abv

        each item in data.list
          if item.isPlaceholder
            article.col-6.col-md-3.products__article
              .products__item.products__item__placeholder
                h2.products__title.products__item__placeholder__title= item.title
