mixin responsive-img(url, sizes, alt, extension)
  if !extension
    - extension = 'jpg'

  if !sizes
    - sizes = locals.sizes

  - var srcset = ''
  - var lowRes = '/images/resize-dist/' + url + '-320.' + extension

  each width, index in sizes
    - srcset += '/images/resize-dist/' + url + '-' + width + '.' + extension + ' ' + width + 'w'
    if(index + 1 < sizes.length)
      - srcset += ', '

  img(data-sizes='auto'
    data-srcset=srcset
    alt=alt
    class='lazyload ' + attributes.class)

  noscript
    img(src=lowRes, alt=alt, class=attributes.class)
